<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose your player</title>
    <link rel ="stylesheet" href="index.css"/>
</head>
<body>
<form action ="createplayer" method="get">
    <input type="text" name="playername" placeholder="Enter your name...">

<div th:each="player : ${players}" class="container">
    <img th:src="#{player.getImagePathName()}" alt="Avatar" class="image" style="width:100%"/>
    <div class="middle">
        <div class="text" th:text="${player.getCharacterName}">John Doe</div>
    </div>
</div>

</form>

</body>
</html>