@import url('https://fonts.googleapis.com/css?family=VT323');

body{
    background-image: url("/images/MKBackground.jpg");
    background-repeat: no-repeat;
    background-size:cover
}

h1{
    font-family: "VT323";
    display:inline;
    background-color: darkred;
}

#secondPlayer{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    font-family: "VT323";
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

form {
    display:inline;
    font-family: "VT323";
    background-color: darkred;
}
