@import url('https://fonts.googleapis.com/css?family=VT323');

body{
    background-image: url("/images/MKBackground.jpg");
    background-repeat: no-repeat;
    background-size:cover
}

h1{
    font-family: "VT323";
    font-size: 40px;
    display:inline;
    background: rgb(247,1,1);
    background: linear-gradient(184deg, rgba(247,1,1,1) 0%,
    rgba(255,61,61,1) 35%, rgba(255,121,0,1) 76%, rgba(255,173,0,1) 100%);
}

#secondPlayer{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    font-family: "VT323";
    font-size: 20px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

form {
    display:inline;
    font-family: "VT323";
    font-size: 20px;
    background: rgb(247,1,1);
    background: linear-gradient(184deg, rgba(247,1,1,1) 0%,
    rgba(255,61,61,1) 35%, rgba(255,121,0,1) 76%, rgba(255,173,0,1) 100%);
}
