#parentContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}
#innerContainer {
    padding: 0%;
}

.top {
    padding-bottom: 15%;
}

.bottom {
    padding-top: 15%;
}

body{
    background-image: url("/images/homebackground.jpg");
    background-size: auto;
    margin-top: 15%;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: auto;
}

img {
    border: 3px solid white;
}
img:hover {
    border: 3px solid lime;
}