<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fight!</title>
    <link rel ="stylesheet" href="game.css"/>
    <style>

        #secondPlayer{
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    </style>
</head>
<body>

<div class="container" align="center">
<img th:src="@{'/gifs/' + ${player.getImagePathName()} + '.gif'}" width="7%"/>
   <h1>Choose your throw</h1>
    <form action="throw" method="get" >
        <input type="radio" name="throw" value="Rock">ROCK</input>
        <input type="radio" name="throw" value="Paper">PAPER</input>
        <input type="radio" name="throw" value="Scissors">SCISSOR</input>
        <input type="submit" value="Throw your move" name="roshambo">
    </form>
        </span>
  <img th:src="@{'/gifs/' + ${computer.getImagePathName()} + '.gif'}" id="secondPlayer"  width="7%"/>

</div>




</body>
</html>