<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Choose your player</title>
    <link rel ="stylesheet" href="index.css"/>
</head>
<body>




<form action ="createplayer" method="get">
    <input type="text" name="playername" placeholder="Enter your name..."/>
<div class ="container" id="parentContainer">

<div th:each="player : ${players}" id ="innerContainer" align="center">
    <img th:src="@{'/images/' + ${player.getImagePathName()} + '.jpg'}" alt="Avatar" width="150px" height="150px" />
     <p th:text="${player.characterName}">John Doe</p>
    <input type="hidden" th:name="character" th:value="${player.characterName}"/>
    <input type="submit" name="chooseplayer" th:value="'Choose ' +${player.characterName}"/>
</div>
</div>
</div>
</form>

</body>
</html>